<div class='chores' *ngFor = "let list of chores" >
    <h3>{{list.title}}</h3>
    <ul>
       <li *ngFor = "let chore of list.tasks">{{chore}}</li>
    </ul>
    <hr>
 </div>
 
 <!-- Update line 1 in chores.component.html to access each object in the chores array:

<div class='chores' *ngFor = 'let list of chores'>
Each iteration, list will be assigned a new object with title and tasks properties.
Update the placeholder in line 2 to access the title property of list.

Update line 4 to loop over the tasks array: <li *ngFor = 'let chore of list.tasks'>.
 -->
